/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
/* Common */
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
table {
  border-collapse: collapse;
  white-space: nowrap;
  width: 100%;
  text-align: left;
}
th {
  font-size: 14pt;
}
th, td {
  padding: 4px 12px;
  border: 1px solid;
}
.date {
  font-family: 'Courier New', Courier, monospace;
}
.name {
  width: 100%;
  white-space: normal;
}
.fa {
  padding: 0 6px 0 0;
}
.download {
  color: white;
  display: inline-flex;
  font-size: 14pt;
  padding: 12px 18px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}
pre {
  padding: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
h1 {
  display: inline-flex;
  margin-right: 20px;
}
.breadcrumb a {
  color: #0366d6;
  font-weight: normal;
}
.breadcrumb a.base_url {
  font-weight: bold;
}
.separator {
  padding: 0 10px;
}

/* Make the whole cell clickable */
td a {
  display: block;
  width: 100%;
}

/* Light mode: */
a.delete,
a.delete:visited {
  color: rgb(223, 132, 136);
}
.fa-folder {
  color: rgba(3,47,98,.5);
}
.fa-file {
  color: rgb(155, 155, 155);
}
th {
  background-color: rgb(76, 102, 175);
  color: white;
}
tr:hover {
  background-color: #f5f5f5;
}
th, td {
  border-color: #ddd;
}
.download {
  background-color: rgb(60, 75, 209);
}
pre {
  background-color: #d3d3d3;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: rgba(249, 249, 250, 0.8);
  }
  .fa-folder {
    color: rgb(2, 69, 146);
  }
  .fa-file {
    color: rgb(177, 177, 177);
  }
  a .filename {
    color: rgb(47, 121, 165);
  }
  a.delete,
  a.delete:visited {
    color: rgb(223, 132, 136);
  }
  tr:hover {
    background-color: #3b3b3b;
  }
  th, td {
    border-color: rgb(138, 138, 138);
  }
  .download {
    background-color: rgb(29, 42, 163);
  }
  pre {
    background-color: #3b3b3b;
  }
}
