/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* Common */
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
table {
  border-collapse: collapse;
}
th, td {
  padding: 3px 12px;
  border: 1px solid;
}
/* Make the whole cell clickable */
td a {
  display: block;
  width: 100%;
}

/* Light mode: */
.file {
  color: rgb(47, 121, 165);
}
a.file:visited {
  color: rgb(179, 84, 195);
}
a.delete,
a.delete:visited {
  color: rgb(223, 132, 136);
}
th {
  background-color: rgb(76, 102, 175);
  color: white;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #f5f5f5;
}
th, td {
  border-color: #ddd;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: rgba(249, 249, 250, 0.8);
  }
  .file {
    color: rgb(26, 168, 245);
  }
  a.file:visited {
    color: rgb(159, 210, 238);
  }
  a.delete,
  a.delete:visited {
    color: rgb(223, 132, 136);
  }
  tr:nth-child(even) {
    background-color: #202020;
  }
  tr:hover {
    background-color: #3b3b3b;
  }
  th, td {
    border-color: rgb(138, 138, 138);
  }
  a {
    color: rgb(200, 118, 255);
  }
  a:visited {
    color: rgb(158, 50, 230);
  }
}
